<h1>Painel de Controle</h1>
<p>Lista de usuários</p>

<% @users.each do |user| %>
    <p>
        <%= user.email %>
            <%= link_to  "Excluir", backoffice_user_path(user), method: :delete %>
    </p>
    <% end %>